


#center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

#container {
    text-align: center;
    line-height: 2px;
}

button {
    padding: 10 30;
    background-color: rgb(223, 73, 73);
    border-radius: 5px;
    font-size: 1rem;
    border: 2px outset black;
    color: white;
}

#wizards {
    background-color: rgb(234, 82, 16);
    color: black;
    border: 2px solid rgb(120, 98, 98);
}

